<div id="headerwrap">
  <header class="">
    <img src="../assets/NomadAppLogo3.png" alt="Nomad Approved" style="height:180px;">
    <h1 class="page-title">Places Around the World fit for Digital Nomads</h1>
      <br>
    <br>
    <br>
    <%= link_to "Recommend a Place to Other Nomads", new_place_path, class: "btn btn-header" %>
  </header>     
</div>
<div class="container-fluid">
	<div class="row first-row-regions">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3 class="welcome-description ">We're not just tourists. We're Digital Nomads and it can be hard to find places that fit our requirements. 
        <br>
        <br>
        Nomad Approved collects places that Digital Nomads have lived in around the world and would recommend to others.</h3> 
        <br>
        <br>
        <h4 class="welcome-description ">Have you found a place with good internet? Somewhere that is in walking distance to points of interest? Share your experience with other Nomads!</h4>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12 centered">
        <br>
        <%= link_to "Tell us about it!", new_place_path, class: "btn btn-nomad centered" %>
      </div>
    </div>
	</div>
</div>





