/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome

 */


@import "bootstrap-sprockets";
@import "bootstrap";


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);

body {
	font-family: 'Open Sans', sans-serif;
	background-color: white;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.navbar .nav > li > a {
      padding-bottom: 20px;
      padding-top: 20px;
    }

.viewplace  {
	color: white;
}

.viewplace:visited {
	color: white;
}

.viewplace:hover {
	color: white;
}


.navbar {
	background-color: #40334E;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.nav {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.navbar-inverse .navbar-nav > li > a {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: white;
}

.navbar-inverse {
	border-color: #40334E;
}

a { 
	color: #333; 
}

a:hover { 
	color: #333; 
	text-decoration: none;
}


.footer {
	background-color: #BFCC3E;
	color: white;
	height: 60px;
	padding-top: 20px;
  bottom: 0;
  width: 100%;
}

.footer-text {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: white;
}


.btn-header {
	background-color: transparent;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	border: 1px solid white;
	border-radius: 0px;
}

.btn-nomad {
	background-color: #40334E;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	border: 1px solid white;
	border-radius: 0px;
}

.second-row {
	padding-bottom: 30px;
}

.last-row {
	padding-bottom: 50px;
}
