// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
	font-family: 'Open Sans', sans-serif;
	background-color: white;
}

.header {
	/*background-color: #C34D49;*/
	color: #333;
	padding-bottom: 20px;
}



.place-box {
	height: 400px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
}


.places {
	padding-top: 20px;
}

.overlay-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: white;
	text-align: center;
	padding-top: 100px;
}

.overlay-description {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 12px;
	color: white;
	text-align: justify;
	padding-top: 20px;
}

.overlay-link {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: white;
	text-align: center;
	padding-top: 20px;
}

.centered {
	text-align: center;
}

.form-label {
	text-align: right;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-transform: uppercase;
	color: #797979;
}



/*Show Page*/

.show {
	height: 80vh;
}

.sq {
	background-color: #F1F1F1;
/*	border-radius: 6px;*/
	color: #333;
/*	height: 20em;*/
	padding-top: 15px;
	padding-bottom: 15px;
}

.text-sq-1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.text-sq-2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.show-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.show-description {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-align: justify;
}

/*.bookplace {
	padding-top: 120px;
}*/

/*Show Region*/

.show-region {
	border: 1px solid #333;
}

/*New Place*/

.new-place-form {
	background-color: #f1f1f1;
}

.btn-nomad {
	border-radius: 0 !important;
	color: white;
	background-color: #40334E;
	width: 200px;
}

  #map {
  width: 500px;
  height: 400px;
}

