// Place all the styles related to the Regions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.flag {
	width: 60px;
	height: auto;
}

.flag-wrapper {
	/*-webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);*/
}

.show-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.show-description {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-align: justify;
}

.show-region {
	padding-top: 20px;
	padding-bottom: 20px;
/*	border: 1px solid #CCCCCC;*/
	background-color: #f2f2f2;
}

.place-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #333;
}

.place-description {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #333;
}

.region-tile {
	background-color: #F1F1F1;
/*	height: 200px;*/
}

.tile-text {
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

#headerwrap {
	background: linear-gradient( rgba(20,20,20, .5), rgba(20,20,20, .5)), url(../assets/photo1.jpg) no-repeat center top;
	margin-top: -50px;
	padding-top:200px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: white;
}

.new-place-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #333;
}

.header-description {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
/*	font-size: 18px;*/
	text-align: center;
	line-height: 25px;
	color: white;
}

.page-description {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
}


.first-row-regions {
	padding-bottom: 100px;
	padding-top: 80px;
}

.second-row-regions {
	padding-bottom: 100px;
}

.last-row-btn {
	padding-top: 20px;
	padding-bottom: 50px;
}

/*.last-row-places {
	padding-bottom: 300px;
}*/

.region-empty-row {
	padding-top: 100px;
	padding-bottom: 250px;
}






