// Place all the styles related to the Regions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.flag {
	width: 60px;
	height: auto;
}

/*.flag-wrapper {
	padding-top: 50px;
}*/

.show-region {
	padding-top: 20px;
	padding-bottom: 20px;
}

.show-description {
	padding-bottom: 20px;
}