
<div class="container-fluid">
  <div class="row first-row-regions">
    <div class="col-md-6 col-md-offset-3">
      <p class="page-description">Click on a region of the world to find places that have been approved by nomads like you!</p>
      <br>
    </div>
  </div>
  <div class="row last-row-regions">
    <div class="col-md-8 col-md-offset-2">
      <div class="row region-row">
        <% @regions.all.each do |r| %>
          <%= link_to r do %>
            <div class="col-md-4">
              <div style="position: relative;" class="region-tile">
                <div class="centered region-image" >
                  <br>
                  <img src="../assets/<%= r.image_url %>" style="height: 150px;">
                  <p class="tile-text"><%= r.name %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>