<div class="container">
  <div class="row header">
    <div class="col-md-12 centered">
      <h1 class="page-title">Places Around the World fit for Digital Nomads</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="page-description centered">We're not just tourists. We're Digital Nomads and it can be hard to find places <br> that fit our requirements: High-Speed Internet, short term leases, a good city. <br><br> Click on a region of the world to find places that have been approved by nomads like you! </p>
    </div>
  </div>
  <div class="row first-row-regions">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <% @regions.all.each do |r| %>
          <%= link_to r do %>
            <div class="col-md-4  ">
              <div style="position: relative;" class="region-tile">
                <div class="centered region-image" >
                  <br>
                  <img src="../assets/<%= r.image_url %>" style="height: 120px;">
                  <p style="font-size:12px;"><%= r.name %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>