<div class="container">
	<div class="row first-row">
		<div class="col-md-12">
			<h1 class="new-place-title centered">Create a New Place</h1>
			<br>
			<p class="page-description centered">Have you stayed at a place fit for Digital Nomads? Tell the community about it!</p>
			<br>
			<%= render 'form' %>
		</div>
	</div>
</div>
