<div class="container">
	<div class="row ">
		<div class="col-md-12">
			<h1 class="page-title centered">New Place</h1>
			<br>
			<p class="page-description centered">Have you stayed at a place fit for digital nomads? Tell the community about it!</p>
			<br>
			<%= render 'form' %>

			<%= link_to 'Back', places_path %>
		</div>
	</div>
</div>
